*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
	height:90%;
    	width:90%;
  	padding: 0;
  	margin: 0;
  	background: linear-gradient(to right, #408000, #003300);
}

h1 {
  color: white;
  text-align: center;
  text-decoration-line: underline;
  text-shadow: 2px 2px black;
}

.container{
	margin: auto;
	min-width: 400px;
	min-height: 700px;
	max-width: 600px;
	max-height: 700px;
	background-color: white;
	border: 4px solid black;
	border-collapse: collapse;
	overflow: auto;
	position: relative;
}

.header{
	width:100%; 
	height: 20%;
	background-color: #ffffff;
	position: absolute;
	top: 0%;
    right: 0%;
}

.list_box_1 {
  background-color:  white;
	width:90%; 
	height: 22%;
	position: absolute;
	top: 20%;
  right: 5%;
	left: 5%;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: black;
	text-align: left;
	border: none;
}

.instructions_body {
  color: white;
  text-align: left;
  font-weight: bold;
}

.instructions_body2 {
  color: white;
  text-align: left;
}

.line_down{
	width:100%; 
	height: 5%;
	background-color: #ffffff;
	position: absolute;
	top: 10%;
    right: 0%;
	left: 0%;
}

.line_up{
	width:100%; 
	height: 5%;
	background-color: #ffffff;
	position: absolute;
	bottom: 10%;
    right: 0%;
	left: 0%;
}

.line_dashed{
	width:100%; 
	height: 5%;
	background-color: #ffffff;
	position: absolute;
	top: 47%;
    right: 0%;
	left: 0%;
}

ul.list1 {
    list-style-type: square;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.calculator-grid2 {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: minmax(100px, auto) repeat(1, 100px);
}

.calculator-grid2 > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid2 > button:hover {
  background-color: rgba(255, 255, 55, .9);
}

.calculator-grid3 {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: minmax(100px, auto) repeat(1, 100px);
}

.calculator-grid3 > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid3 > button:hover {
  background-color: rgba(255, 255, 255, .9);
  font-family: 'Brush Script MT', cursive;
}

.calculator-grid4 {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: minmax(100px, auto) repeat(1, 100px);
}

.calculator-grid4 > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid4 > button:hover {
  background-color: rgba(255, 255, 255, .9);
  font-size: 100px;
}

.calculator-grid5 {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: minmax(100px, auto) repeat(1, 100px);
}

.calculator-grid5 > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid5 > button:hover {
  background-color: rgba(255, 255, 255, .9);
  font-size: 100px;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
